@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap");
html {
    background-color: #caf0f8;
    font-family: "Nunito", sans-serif;
    margin-left: 6%;

    .link {
        margin-right: 3rem;
        cursor: pointer;
        margin-bottom: 5rem;
    }

    .home {
        margin-top: 3rem;
        label {
            margin-right: 2rem;
        }
        .otterList {
            h2 {
                margin: 4rem auto;
                text-align: center;
            }
            ul {
                list-style: none;
                img {
                    max-width: 75%;
                    min-width: 50%;
                    margin: 1rem auto;
                }
                div {
                    width: 70%;
                    margin: 2rem auto 7rem auto;
                }
            }
        }
    }
}
